<div class="row">
  <div class="col-md-5">
    <h4><%= link_to ticket.event.name, ticket.event %></h4>
  </div>
  <div class="col-md-2">
    <h4><%= ticket.event.date_event %></h4>
  </div>
  <div class="col-md-2">
    <h4><%= ticket.event.price %> zł</h4>
  </div>
  <div class="col-md-1">
    <h4><%= ticket.count %></h4>
  </div>
</div>