<li id="ticket-<%= ticket.id %>">

  <div class="row text-left">
    <h3 class="event col-md-6"><%= link_to ticket.event.name, ticket.event %></h3>
    <span class="timestamp col-md-4">
    Bought <%= time_ago_in_words(ticket.created_at) %> ago.
    </span>
      <%= link_to "Anuluj", cancel_tickets_path(ticket), method: :get,
                  data: { confirm: "Czy napewno chcesz anulować bilet?" }, class: "btn btn-danger text col-md-2" %>
  </div>

</li>